<div class="">
    <div class=" row md-12">

        <div class="col-md-12 ">





            <main id="main" class="main">

                <div class="pagetitle">
                    <h1>Inventory Tables</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="">Product</a></li>
                            <li class="breadcrumb-item">Table</li>
                            <li class="breadcrumb-item active"><a href="/product-coupen">Click Here</a></li>
                        </ol>
                    </nav>
                    


                </div><!-- End Page Title -->

                <section class="section">
                    <div class="row" style="margin-right: 0px;margin-left: 0px;">
                        <div class="col-lg-12">

                            <div class="card">
                                <div class="card-body">
                                   

                                    <!-- Default Table -->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                
                                                <th scope="col">Image</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Category</th>
                                                <th scope="col">Stock</th>
                                                <th scope="col">Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each product}}
                                            <tr>
                                                
                                                <td><img src="../product-pictures/{{this.image.[0]}}" alt=""
                                                        style="width: 70px; height:auto"> </td>
                                                <td>{{this.name}}</td>
                                                <td>{{this.categoryid}}</td>
                                                <td>{{this.stock}}</td>
                                                <td>

                                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                        data-bs-target="#example-{{this._id}}" value="{{this._id}}" name="id"
                                                        id="">
                                                        Edit 
                                                    </button>

                                                </td>
                                            </tr>









                                            {{/each}}


                                        </tbody>
                                    </table>
                                   
                                </div>
                            </div>









                        </div>


                    </div>
                </section>

            </main><!-- End #main -->



            
    {{#each product}}

    <div class="modal fade" id="example-{{this._id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">

                            <form class="col-md-12" action="/admin/edit-stock/{{this._id}}" method="post" enctype="">


                                <div class="form-group mt-3">
                                    <label for="exampleInputEmail1">Name</label>
                                    <input type="text" name="name" class="form-control bg-white text-black"
                                        id="newPrice" aria-describedby="emailHelp" placeholder="Name" value="{{this.name}}">
                                </div>


                                <div class="form-group mt-3">
                                    <label for="exampleInputEmail1">Category</label>
                                    <input type="text" name="model" class="form-control bg-white text-black"
                                        id="stock" aria-describedby="emailHelp" placeholder="Model" value="{{this.categoryid}}">
                                </div>

                                <div class="form-group mt-3">
                                    <label for="exampleInputEmail1">Stock</label>
                                    <input type="number" name="stock" class="form-control bg-white text-black"
                                        id="stock" aria-describedby="emailHelp" placeholder="Stock count" value="{{this.stock}}">
                                </div>


                                <button type="submit" class="btn btn-primary mt-3">Submit</button>
                            </form>


                        </div>



                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
    {{/each}}


        </div>
    </div>
</div>
